In [883]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [884]:
Udemy_df = pd.read_excel('Data/Course Data/Udemy_clean.xlsx')
CodeAcademy_df = pd.read_excel('Data/Course Data/CodeAcademy.xlsx')
Pluralsight_df = pd.read_excel('Data/Course Data/PluralSight.xlsx')
Coursera_df = pd.read_csv('Data/Course Data/CourseraDataset_Clean.csv')

# Udemy

In [885]:
Udemy_df.head(3)

,All,Title Url,Course Info,Rating,Reviews,Duration,\nLevels
0,Ultimate AWS Certified Solutions Architect Ass...,https://www.udemy.com/course/aws-certified-sol...,Ultimate AWS Certified Solutions Architect Ass...,4.7,5214188,27.5,All Levels
1,[NEW] Ultimate AWS Certified Cloud Practitione...,https://www.udemy.com/course/aws-certified-clo...,[NEW] Ultimate AWS Certified Cloud Practitione...,4.7,5193568,15,Beginner
2,Learn Ethical Hacking From Scratch\nBecome an ...,https://www.udemy.com/course/learn-ethical-hac...,Learn Ethical Hacking From Scratch\nBecome an ...,4.6,5121803,16,All Levels

In [886]:
# Keep Course Info, Rating, Duration, and Levels
Udemy_df = Udemy_df.drop(['All', 'Title Url'], axis=1)
# Rename columns to match other datasets
Udemy_df = Udemy_df.rename(columns={'Title':'Course Info', 'Rating':'Course Rating', 'Duration':'Course Duration', '\nLevels':'Course Level'})

# Extract text before the first \n for Course Info to become title
Udemy_df['Course Title'] = Udemy_df['Course Info'].str.split('\n').str[0]

# change order of columns
Udemy_df = Udemy_df[['Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level']]

# add a column for the source of the data
Udemy_df['Source'] = 'Udemy'

In [887]:
Udemy_df.head(5)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Ultimate AWS Certified Solutions Architect Ass...,Ultimate AWS Certified Solutions Architect Ass...,4.7,27.5,All Levels,Udemy
1,[NEW] Ultimate AWS Certified Cloud Practitione...,[NEW] Ultimate AWS Certified Cloud Practitione...,4.7,15,Beginner,Udemy
2,Learn Ethical Hacking From Scratch,Learn Ethical Hacking From Scratch\nBecome an ...,4.6,16,All Levels,Udemy
3,AZ-900: Microsoft Azure Fundamentals Exam Prep...,AZ-900: Microsoft Azure Fundamentals Exam Prep...,4.6,7.5,Beginner,Udemy
4,Ultimate AWS Certified Developer Associate 202...,Ultimate AWS Certified Developer Associate 202...,4.7,33.5,All Levels,Udemy

In [888]:
# print all unique values in the column
print(Udemy_df['Course Level'].unique())
print(Udemy_df['Course Duration'].unique())
print(Udemy_df['Course Rating'].unique())

['All Levels' 'Beginner' 'Intermediate' 'Expert' 'intermediate'
 'Not applicable']
['27.5 ' '15 ' '16 ' '7.5 ' '33.5 ' '6 ' '15.5 ' '31 ' '23 ' '40 ' '14.5 '
 '4.5 ' '16.5 ' '79.5 ' '18 ' '13.5 ' '5 ' '3 ' '9 ' '20.5 ' '36 ' '22 '
 '7 ' 'Not applicable' '11 ' '9.5 ' '10.5 ' '24.5 ' '2.5 ' '55 ' '17 '
 '29 ' '1.5 ' '22.5 ' '3.5 ' '26 ' '24 ' '8 ' '26.5 ' '25.5 ' '12.5 '
 '6.5 ' '28.5 ' '4 ' '17.5 ' '14 ' '20 ' '21 ' '18.5 ' '13 ' '77 ' '8.5 '
 '19.5 ' '21.5 ' '32 ' '10 ' '38 ' '31.5 ' '2 ' '12 ' '81 ' '114 ' '5.5 '
 '40.5 ' '44.5 ' '48.5 ' '23.5 ' '50.5 ' '27 ' '38.5 ' '19 ' '78.5 '
 '34.5 ' '11.5 ' '36.5 ' '53 ' '29.5 ' '43.5 ' '34 ' '63.5 ' '61.5 ' '47 '
 '41.5 ' '25 ' '62 ' '30.5 ' '45.5 ' 10 '57 ' '72.5 ' '87.5 ' '35.5 '
 '28 ' '39.5 ' '58 ' '52.5 ' '100.5 ' '48 ' '45 ' '30 ' '66.5 ' '71.5 '
 '46 ' '54 ' '42 ' '57.5 ' 1 '91 ' '46.5 ' '50 ' '105.5 ' '63 ' '66 '
 '33 ' '32.5 ' '145 ' '37 ' '77.5 ' '74 ' '116.5 ' '277 ' '136.5 ' '133 '
 '90 ' '252.5 ' '56 ' '49.5 ' '131.5 ' '39 ']
[4.7 4.6 4.8 4.5 4.9 5.  3.6 3.7 4.4 4.3 3.8 2.7]

In [889]:
Udemy_df.head(3)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Ultimate AWS Certified Solutions Architect Ass...,Ultimate AWS Certified Solutions Architect Ass...,4.7,27.5,All Levels,Udemy
1,[NEW] Ultimate AWS Certified Cloud Practitione...,[NEW] Ultimate AWS Certified Cloud Practitione...,4.7,15,Beginner,Udemy
2,Learn Ethical Hacking From Scratch,Learn Ethical Hacking From Scratch\nBecome an ...,4.6,16,All Levels,Udemy

In [890]:
# check NA
Udemy_df.isna().sum()

Course Title       0
Course Info        0
Course Rating      0
Course Duration    0
Course Level       0
Source             0
dtype: int64

In [891]:
# Export to csv
Udemy_df.to_csv('Data/Course Data/Udemy_clean.csv', index=False)

# Pluralsight

In [892]:
Pluralsight_df.head(3)

,Course Name,Course Name Url,Duration,Level,Reviews,Author,Course Description
0,Windows PowerShell and Regular Expressions,https://www.pluralsight.com/courses/powershell...,2h 13m,Intermediate,28,by Jeff Hicks,If you are a PowerShell Pro who needs to know ...
1,Ethernet Operation and Switch Configuration,https://www.pluralsight.com/courses/ethernet-o...,3h 4m,Intermediate,56,by Ross Bagurdes,Since Ethernet is a widely used protocol in da...
2,Cisco Enterprise Networks: Basic Networking an...,https://www.pluralsight.com/courses/cisco-ente...,1h 45m,Intermediate,103,by Ben Piper,Master the fundamental network principles need...

In [893]:
# Get 'Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level'
Pluralsight_df = Pluralsight_df[['Course Name', 'Course Description', 'Duration',  'Level']]
# Rename columns to match other datasets
Pluralsight_df = Pluralsight_df.rename(columns={'Course Name':'Course Title', 'Level':'Course Level', 'Duration':'Course Duration', 'Course Description':'Course Info'})
# Add 'Course Rating' column
Pluralsight_df['Course Rating'] = 'Not applicable'
Pluralsight_df.head(3)

,Course Title,Course Info,Course Duration,Course Level,Course Rating
0,Windows PowerShell and Regular Expressions,If you are a PowerShell Pro who needs to know ...,2h 13m,Intermediate,Not applicable
1,Ethernet Operation and Switch Configuration,Since Ethernet is a widely used protocol in da...,3h 4m,Intermediate,Not applicable
2,Cisco Enterprise Networks: Basic Networking an...,Master the fundamental network principles need...,1h 45m,Intermediate,Not applicable

In [894]:
# Remove leading and trailing whitespaces
Pluralsight_df['Course Level'] = Pluralsight_df['Course Level'].str.strip()
# Change 'Advanced' to 'Expert'
Pluralsight_df['Course Level'] = Pluralsight_df['Course Level'].str.replace('Advanced', 'Expert')
# Concatenate Title and Info
Pluralsight_df['Course Info'] = Pluralsight_df['Course Title'] + '\n' + Pluralsight_df['Course Info']

print(Pluralsight_df['Course Level'].unique())
print(Pluralsight_df['Course Duration'].unique())
# Change the format of the duration to match the other datasets
def convert_to_hours(time_str):
    hours = 0
    parts = time_str.split(' ')
    for part in parts:
        if 'h' in part:
            hours += float(part.replace('h', ''))
        elif 'm' in part:
            hours += float(part.replace('m', '')) / 60
    return hours

Pluralsight_df['Course Duration'] = Pluralsight_df['Course Duration'].apply(convert_to_hours).round(2)
print(Pluralsight_df['Course Duration'].unique())

# change order of columns
Pluralsight_df = Pluralsight_df[['Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level']]

['Intermediate' 'Beginner' 'Expert']
['2h 13m' '3h 4m' '1h 45m' '1h 25m' '2h 59m' '3h 39m' '3h 48m' '2h 2m'
 '29m' '2h 47m' '1h 53m' '2h 24m' '2h 6m' '1h 41m' '2h 1m' '3h 2m'
 '1h 47m' '2h 37m' '2h 5m' '1h 9m' '2h 16m' '1h 28m' '5h 8m' '20m'
 '1h 36m' '2h 22m' '2h 45m' '1h 33m' '41m' '1h 15m' '2h 4m' '35m' '2h 18m'
 '6h 8m' '2h 46m' '7m' '1h 56m' '1h 34m' '4h 36m' '3h 6m' '3h 11m'
 '1h 57m' '3h 1m' '4h 39m' '1h 38m' '1h 49m' '2h 11m' '3h 36m' '2h 21m'
 '2h' '5h 21m' '1h 58m' '2h 29m' '2h 9m' '2h 8m' '1h 29m' '47m' '21m'
 '1h 2m' '1h 30m' '1h 31m' '6h 13m' '2h 52m' '5h 16m' '48m' '2h 25m' '42m'
 '4h 26m' '1h 51m' '3h 3m' '25m' '8h 11m' '2h 42m' '2h 34m' '2h 38m'
 '6h 43m' '1h 10m' '3h 44m' '3h 7m' '3h 49m' '15m' '4h 45m' '50m' '2h 7m'
 '2h 27m' '1h 17m' '1h 19m' '28m' '4h 15m' '1h 43m' '4m' '1h' '1h 13m'
 '1h 48m' '4h 34m' '3h 52m' '5h 52m' '1h 50m' '36m' '1h 20m' '5h 18m'
 '2h 39m' '6h 22m' '51m' '3h 22m' '3h 51m' '4h 14m' '1h 55m' '44m' '40m'
 '3h 20m' '2h 14m' '2h 31m' '1h 27m' '23m' '4h 8m' '4h 18m' '1h 40m'
 '1h 54m' '1h 59m' '1h 42m' '1h 32m' '1h 35m' '3h 21m' '2h 17m' '1h 3m'
 '3h 35m' '2h 51m' '1h 8m' '3h' '3h 40m' '3h 24m']
[2.22 3.07 1.75 1.42 2.98 3.65 3.8  2.03 0.48 2.78 1.88 2.4  2.1  1.68
 2.02 3.03 1.78 2.62 2.08 1.15 2.27 1.47 5.13 0.33 1.6  2.37 2.75 1.55
 0.68 1.25 2.07 0.58 2.3  6.13 2.77 0.12 1.93 1.57 4.6  3.1  3.18 1.95
 3.02 4.65 1.63 1.82 2.18 3.6  2.35 2.   5.35 1.97 2.48 2.15 2.13 1.48
 0.78 0.35 1.03 1.5  1.52 6.22 2.87 5.27 0.8  2.42 0.7  4.43 1.85 3.05
 0.42 8.18 2.7  2.57 2.63 6.72 1.17 3.73 3.12 3.82 0.25 4.75 0.83 2.12
 2.45 1.28 1.32 0.47 4.25 1.72 0.07 1.   1.22 1.8  4.57 3.87 5.87 1.83
 0.6  1.33 5.3  2.65 6.37 0.85 3.37 3.85 4.23 1.92 0.73 0.67 3.33 2.23
 2.52 1.45 0.38 4.13 4.3  1.67 1.9  1.98 1.7  1.53 1.58 3.35 2.28 1.05
 3.58 2.85 1.13 3.   3.67 3.4 ]

In [895]:
# add a column for the source of the data
Pluralsight_df['Source'] = 'Pluralsight'
Pluralsight_df.head(3)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Windows PowerShell and Regular Expressions,Windows PowerShell and Regular Expressions\nIf...,Not applicable,2.22,Intermediate,Pluralsight
1,Ethernet Operation and Switch Configuration,Ethernet Operation and Switch Configuration\nS...,Not applicable,3.07,Intermediate,Pluralsight
2,Cisco Enterprise Networks: Basic Networking an...,Cisco Enterprise Networks: Basic Networking an...,Not applicable,1.75,Intermediate,Pluralsight

In [896]:
# check NA
Pluralsight_df.isna().sum()

Course Title       0
Course Info        0
Course Rating      0
Course Duration    0
Course Level       0
Source             0
dtype: int64

In [897]:
Pluralsight_df.to_csv('Data/Course Data/PluralSight_clean.csv', index=False)

# CodeAcademy

In [898]:
CodeAcademy_df.head(3)

,Course Name,Course Name Url,Course Description,Level,Type,Duration,Category
0,Defending Against AI-Generated Attacks,https://www.codecademy.com/learn/defending-aga...,Dive into the dangerous world of AI phishing a...,NaN,Course,With Certificate,AI
1,Intro to AI Transformers,https://www.codecademy.com/learn/intro-to-ai-t...,Learn about what transformers are (the T of GP...,Intermediate,Free course,1 hour,AI
2,Intro to Midjourney,https://www.codecademy.com/learn/intro-to-midj...,Dive into the world of generative image-based-...,Beginner Friendly,Free course,< 1 hour,AI

In [899]:
# Extract Course Name, Course Description, Level, and Duration
CodeAcademy_df = CodeAcademy_df[['Course Name', 'Course Description', 'Level', 'Duration']]
# Rename columns to match other datasets
CodeAcademy_df = CodeAcademy_df.rename(columns={'Course Name':'Course Title', 'Course Description':'Course Info', 'Level':'Course Level', 'Duration':'Course Duration'})
CodeAcademy_df['Course Rating'] = 'Not applicable'
CodeAcademy_df['Source'] = 'CodeAcademy'

In [900]:
CodeAcademy_df.head(3)

,Course Title,Course Info,Course Level,Course Duration,Course Rating,Source
0,Defending Against AI-Generated Attacks,Dive into the dangerous world of AI phishing a...,NaN,With Certificate,Not applicable,CodeAcademy
1,Intro to AI Transformers,Learn about what transformers are (the T of GP...,Intermediate,1 hour,Not applicable,CodeAcademy
2,Intro to Midjourney,Dive into the world of generative image-based-...,Beginner Friendly,< 1 hour,Not applicable,CodeAcademy

In [901]:
print(CodeAcademy_df['Course Level'].unique())
print(CodeAcademy_df['Course Duration'].unique())

[nan 'Intermediate' 'Beginner Friendly' 'Advanced']
['With Certificate' '1 hour' '< 1 hour' '2 hours' '5 hours' '4 hours' nan
 '3 hours' '17 hours' '7 hours' '8 hours' '6 hours' '13 hours' '15 hours'
 '10 hours' '9 hours' '16 hours' '11 hours' '14 hours']

In [902]:
# Concatenate Title and Info
CodeAcademy_df['Course Info'] = CodeAcademy_df['Course Title'] + '\n' + CodeAcademy_df['Course Info']

print(CodeAcademy_df['Course Level'].unique())
print(CodeAcademy_df['Course Duration'].unique())

# Course Level: 'All Levels' 'Beginner' 'Intermediate' 'Expert' 'Not applicable'
# change nan to 'Not applicable'
CodeAcademy_df['Course Level'] = CodeAcademy_df['Course Level'].replace(np.nan, 'Not applicable')
# change 'Beginner Friendly' to 'Beginner'
CodeAcademy_df['Course Level'] = CodeAcademy_df['Course Level'].replace('Beginner Friendly', 'Beginner')
# change 'Advanced' to 'Expert'
CodeAcademy_df['Course Level'] = CodeAcademy_df['Course Level'].replace('Advanced', 'Expert')

# Standardize 'Course Duration' to 'hours'
# remove all the text and keep only the number
CodeAcademy_df['Course Duration'] = CodeAcademy_df['Course Duration'].str.extract('(\d+)')
# change nan to not applicable
CodeAcademy_df['Course Duration'] = CodeAcademy_df['Course Duration'].replace(np.nan, 'Not applicable')

print(CodeAcademy_df['Course Level'].unique())
print(CodeAcademy_df['Course Duration'].unique())

# change order of columns
CodeAcademy_df = CodeAcademy_df[['Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level', 'Source']]

[nan 'Intermediate' 'Beginner Friendly' 'Advanced']
['With Certificate' '1 hour' '< 1 hour' '2 hours' '5 hours' '4 hours' nan
 '3 hours' '17 hours' '7 hours' '8 hours' '6 hours' '13 hours' '15 hours'
 '10 hours' '9 hours' '16 hours' '11 hours' '14 hours']
['Not applicable' 'Intermediate' 'Beginner' 'Expert']
['Not applicable' '1' '2' '5' '4' '3' '17' '7' '8' '6' '13' '15' '10' '9'
 '16' '11' '14']

<>:17: SyntaxWarning: invalid escape sequence '\d'
<>:17: SyntaxWarning: invalid escape sequence '\d'
/var/folders/sg/0xjmcw_15nq41ctx8fknnyhw0000gn/T/ipykernel_27632/1271706889.py:17: SyntaxWarning: invalid escape sequence '\d'
  CodeAcademy_df['Course Duration'] = CodeAcademy_df['Course Duration'].str.extract('(\d+)')

In [903]:
CodeAcademy_df.head(3)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Defending Against AI-Generated Attacks,Defending Against AI-Generated Attacks\nDive i...,Not applicable,Not applicable,Not applicable,CodeAcademy
1,Intro to AI Transformers,Intro to AI Transformers\nLearn about what tra...,Not applicable,1,Intermediate,CodeAcademy
2,Intro to Midjourney,Intro to Midjourney\nDive into the world of ge...,Not applicable,1,Beginner,CodeAcademy

In [904]:
# Check for missing values
CodeAcademy_df.isnull().sum()

Course Title       0
Course Info        0
Course Rating      0
Course Duration    0
Course Level       0
Source             0
dtype: int64

In [905]:
# Export to csv
CodeAcademy_df.to_csv('Data/Course Data/CodeAcademy_clean.csv', index=False)

# Coursera

In [906]:
Coursera_df.head(3)

,Course Title,Rating,Level,Schedule,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url,Duration to complete (Approx.),Number of Review
0,Fashion as Design,4.8,Beginner level,Flexible schedule,Not specified,"Art History, Art, History, Creativity","Introduction, Heroes, Silhouettes, Coutures, L...","Anna Burckhardt, Paola Antonelli, Michelle Mil...",The Museum of Modern Art,Arts and Humanities,https://www.coursera.org/learn/fashion-design,20.0,2813
1,Modern American Poetry,4.4,Beginner level,Flexible schedule,Not specified,Not specified,"Orientation, Module 1, Module 2, Module 3, Mod...",Cary Nelson,University of Illinois at Urbana-Champaign,Arts and Humanities,https://www.coursera.org/learn/modern-american...,34.0,100
2,Pixel Art for Video Games,4.5,Beginner level,Flexible schedule,Not specified,Not specified,"Week 1: Introduction to Pixel Art, Week 2: Pix...","Andrew Dennis, Ricardo Guimaraes",Michigan State University,Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...,9.0,227

In [907]:
# Check if title has Chinese characters
print(Coursera_df['Course Title'].str.contains(r'[\u4e00-\u9fff]').sum())
# Print all these titles
Coursera_df[Coursera_df['Course Title'].str.contains(r'[\u4e00-\u9fff]')]['Course Title']

162

9
10
18
23
180              (Ci Poetry of Su Dong Po)
                        ...
7917                2.
7998                        SPSS
8243    Academic Writing and Research
8320
8342
Name: Course Title, Length: 162, dtype: object

In [908]:
# Remove these rows with Chinese characters
Coursera_df = Coursera_df[~Coursera_df['Course Title'].str.contains(r'[\u4e00-\u9fff]')]

In [909]:
# check keyword
print(Coursera_df['Keyword'].unique())

# check how many columns for each keyword
it_df = Coursera_df['Keyword'].value_counts()
it_df
# Information Technology              833
# DataScience                         959
# Computer Science                    975

['Arts and Humanities' 'Business' 'Computer Science' 'DataScience'
 'Health' 'Information Technology' 'Math and Logic' 'Personal Development'
 'Physical Science and Engineering' 'Social Sciences']

Computer Science                    975
DataScience                         959
Health                              956
Social Sciences                     951
Personal Development                925
Business                            922
Information Technology              833
Physical Science and Engineering    779
Math and Logic                      473
Arts and Humanities                 435
Name: Keyword, dtype: int64

In [910]:
# check Coursera_df columns
Coursera_df.columns

Index(['Course Title', 'Rating', 'Level', 'Schedule', 'What you will learn',
       'Skill gain', 'Modules', 'Instructor', 'Offered By', 'Keyword',
       'Course Url', 'Duration to complete (Approx.)', 'Number of Review'],
      dtype='object')

In [911]:
# Get 'Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level'
Coursera_df = Coursera_df[['Course Title', 'What you will learn','Skill gain' ,'Rating', 'Duration to complete (Approx.)', 'Level']]
# Merge 'What you will learn' and 'Skill gain' into 'Course Info'
Coursera_df['Course Info'] = Coursera_df['What you will learn'] + '\n' + Coursera_df['Skill gain']
# Remove 'What you will learn' and 'Skill gain' columns
Coursera_df = Coursera_df.drop(['What you will learn', 'Skill gain'], axis=1)
# rename columns
Coursera_df = Coursera_df.rename(columns={'Rating':'Course Rating', 'Duration to complete (Approx.)':'Course Duration', 'Level':'Course Level'})
# for course level, change 'Beginner level' to 'Beginner', change "Intermeediate level" to "Intermediate", "Not specified" to "Not applicable", 'Advacned level' to 'Expert'
Coursera_df['Course Level'] = Coursera_df['Course Level'].replace('Beginner level', 'Beginner')
Coursera_df['Course Level'] = Coursera_df['Course Level'].replace('Intermediate level', 'Intermediate')
Coursera_df['Course Level'] = Coursera_df['Course Level'].replace('Not specified', 'Not applicable')
Coursera_df['Course Level'] = Coursera_df['Course Level'].replace('Advanced level', 'Expert')

# add a column for the source of the data
Coursera_df['Source'] = 'Coursera'
# change order of columns
Coursera_df = Coursera_df[['Course Title', 'Course Info', 'Course Rating', 'Course Duration', 'Course Level', 'Source']]

In [912]:
# check course level unique values
print(Coursera_df['Course Level'].unique())

['Beginner' 'Intermediate' 'Not applicable' 'Expert']

In [913]:
Coursera_df.head(3)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Fashion as Design,"Not specified\nArt History, Art, History, Crea...",4.8,20.0,Beginner,Coursera
1,Modern American Poetry,Not specified\nNot specified,4.4,34.0,Beginner,Coursera
2,Pixel Art for Video Games,Not specified\nNot specified,4.5,9.0,Beginner,Coursera

In [914]:
# check na
Coursera_df.isnull().sum()

Course Title       0
Course Info        0
Course Rating      0
Course Duration    0
Course Level       0
Source             0
dtype: int64

In [915]:
# Export to csv
Coursera_df.to_csv('Data/Course Data/Coursera_clean.csv', index=False)

# Merge All Dataset

In [916]:
# Combine all datasets
Course_df = pd.concat([Udemy_df, Pluralsight_df, CodeAcademy_df, Coursera_df])
Course_df.head(3)

,Course Title,Course Info,Course Rating,Course Duration,Course Level,Source
0,Ultimate AWS Certified Solutions Architect Ass...,Ultimate AWS Certified Solutions Architect Ass...,4.7,27.5,All Levels,Udemy
1,[NEW] Ultimate AWS Certified Cloud Practitione...,[NEW] Ultimate AWS Certified Cloud Practitione...,4.7,15,Beginner,Udemy
2,Learn Ethical Hacking From Scratch,Learn Ethical Hacking From Scratch\nBecome an ...,4.6,16,All Levels,Udemy

In [917]:
# convert all the number in Course Duration to float
Course_df['Course Duration'] = Course_df['Course Duration'].replace('Not applicable', np.nan)
Course_df['Course Duration'] = Course_df['Course Duration'].astype(float).round(2)
Course_df['Course Duration'] = Course_df['Course Duration'].replace(np.nan, 'Not applicable')

# check for missing values
print(Course_df.isnull().sum())

# check unique values for Course Rating, Course Duration, and Course Level, Source
print(Course_df['Course Rating'].unique())
print(Course_df['Course Duration'].unique())
print(Course_df['Course Level'].unique())
print(Course_df['Source'].unique())

Course Title       0
Course Info        0
Course Rating      0
Course Duration    0
Course Level       0
Source             0
dtype: int64
[4.7 4.6 4.8 4.5 4.9 5.0 3.6 3.7 4.4 4.3 3.8 2.7 'Not applicable' 0.0 4.1
 4.2 3.9 4.0 3.0 3.4 3.1 3.3 3.5 3.2]
[27.5 15.0 16.0 7.5 33.5 6.0 15.5 31.0 23.0 40.0 14.5 4.5 16.5 79.5 18.0
 13.5 5.0 3.0 9.0 20.5 36.0 22.0 7.0 'Not applicable' 11.0 9.5 10.5 24.5
 2.5 55.0 17.0 29.0 1.5 22.5 3.5 26.0 24.0 8.0 26.5 25.5 12.5 6.5 28.5 4.0
 17.5 14.0 20.0 21.0 18.5 13.0 77.0 8.5 19.5 21.5 32.0 10.0 38.0 31.5 2.0
 12.0 81.0 114.0 5.5 40.5 44.5 48.5 23.5 50.5 27.0 38.5 19.0 78.5 34.5
 11.5 36.5 53.0 29.5 43.5 34.0 63.5 61.5 47.0 41.5 25.0 62.0 30.5 45.5
 57.0 72.5 87.5 35.5 28.0 39.5 58.0 52.5 100.5 48.0 45.0 30.0 66.5 71.5
 46.0 54.0 42.0 57.5 1.0 91.0 46.5 50.0 105.5 63.0 66.0 33.0 32.5 145.0
 37.0 77.5 74.0 116.5 277.0 136.5 133.0 90.0 252.5 56.0 49.5 131.5 39.0
 2.22 3.07 1.75 1.42 2.98 3.65 3.8 2.03 0.48 2.78 1.88 2.4 2.1 1.68 2.02
 3.03 1.78 2.62 2.08 1.15 2.27 1.47 5.13 0.33 1.6 2.37 2.75 1.55 0.68 1.25
 2.07 0.58 2.3 6.13 2.77 0.12 1.93 1.57 4.6 3.1 3.18 1.95 3.02 4.65 1.63
 1.82 2.18 3.6 2.35 5.35 1.97 2.48 2.15 2.13 1.48 0.78 0.35 1.03 1.52 6.22
 2.87 5.27 0.8 2.42 0.7 4.43 1.85 3.05 0.42 8.18 2.7 2.57 2.63 6.72 1.17
 3.73 3.12 3.82 0.25 4.75 0.83 2.12 2.45 1.28 1.32 0.47 4.25 1.72 0.07
 1.22 1.8 4.57 3.87 5.87 1.83 0.6 1.33 5.3 2.65 6.37 0.85 3.37 3.85 4.23
 1.92 0.73 0.67 3.33 2.23 2.52 1.45 0.38 4.13 4.3 1.67 1.9 1.98 1.7 1.53
 1.58 3.35 2.28 1.05 3.58 2.85 1.13 3.67 3.4 52.0 80.0 93.0 127.0 65.0
 94.0 44.0 88.0 35.0 240.0 120.0 320.0 160.0 84.0 280.0 60.0 41.0 82.0
 200.0 72.0 49.0 64.0 69.0 420.0 43.0 168.0 192.0 144.0 89.0 108.0 100.0
 59.0 61.0 122.0 480.0 224.0 71.0 75.0 70.0 95.0 2.25 96.0 85.0 180.0 68.0
 103.0 73.0]
['All Levels' 'Beginner' 'Intermediate' 'Expert' 'intermediate'
 'Not applicable']
['Udemy' 'Pluralsight' 'CodeAcademy' 'Coursera']

In [918]:
Course_df.shape

(15227, 6)

In [919]:
# Check each source how many courses
Course_df['Source'].value_counts()

Coursera       8208
Udemy          6208
CodeAcademy     632
Pluralsight     179
Name: Source, dtype: int64

In [920]:
# Export to csv
Course_df.to_csv('Data/Course Data/Course_clean.csv', index=False)

In [921]:
# Check ratio of IT related courses
# Count Udemy, CodeAcaemy, Pluralsight total courses
Udemy_count = Udemy_df.shape[0]
CodeAcademy_count = CodeAcademy_df.shape[0]
Pluralsight_count = Pluralsight_df.shape[0]
Coursera_count = it_df['Information Technology'] + it_df['DataScience'] + it_df['Computer Science']

# Count total courses
Total_IT_courses = Udemy_count + CodeAcademy_count + Pluralsight_count
Total_IT_courses

# Calculate the IT related course ratio
Total_IT_courses / Course_df.shape[0]

0.46095750968674065