In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
Combined_Jobs_Final = pd.read_csv('Combined_Jobs_Final.csv')
Experience = pd.read_csv('Experience.csv')
job_data = pd.read_csv('job_data.csv')
Job_Views = pd.read_csv('Job_Views.csv')
Positions_Of_Interest = pd.read_csv('Positions_Of_Interest.csv')

In [80]:
print(Combined_Jobs_Final.shape)

(84090, 23)

In [47]:
print(Positions_Of_Interest.head())

   Applicant.ID Position.Of.Interest               Created.At  \
0         10003     security officer  2014-12-12 21:20:54 UTC
1         10007               Server  2014-08-14 15:56:42 UTC
2         10007            Bartender  2014-08-14 15:56:44 UTC
3         10008                 Host  2014-08-14 15:56:42 UTC
4         10008              Barista  2014-08-14 15:56:43 UTC

                Updated.At
0  2014-12-12 21:20:54 UTC
1  2015-02-26 20:35:12 UTC
2  2015-02-19 23:21:28 UTC
3  2015-02-26 20:35:12 UTC
4  2015-02-18 02:35:06 UTC

In [78]:
# check Job.ID column for Combined_Jobs_Final and Job_Views
# if Job.ID in Job_views is not in Combined_Jobs_Final, then remove the row from Combined_Jobs_Final

Combined_Jobs_Final['Job.ID'] = Combined_Jobs_Final['Job.ID'].astype(int)
Job_Views['Job.ID'] = Job_Views['Job.ID'].astype(int)

# Filter Combined_Jobs_Final for rows where Job.ID exists in Job_Views
filtered_Combined_Jobs_Final = Combined_Jobs_Final[Combined_Jobs_Final['Job.ID'].isin(Job_Views['Job.ID'])]
filtered_Combined_Jobs_Final['Job.ID'] = filtered_Combined_Jobs_Final['Job.ID'].astype(int)
print(filtered_Combined_Jobs_Final.shape)
print(filtered_Combined_Jobs_Final.head(10))
# check type of each column

(1035, 23)
    Job.ID  Provider Status  \
0      111         1   open
2      117         1   open
4      127         1   open
6      131         1   open
21  134286         2   open
23  134288         2   open
25  134292         2   open
28  134296         2   open
33  134302         2   open
35  134304         2   open

                                                 Slug  \
0                     palo-alto-ca-tacolicious-server
2   san-francisco-ca-machka-restaurants-corp-barte...
4   los-angeles-ca-rosa-mexicano-sunset-kitchen-st...
6          los-angeles-ca-roy-s-woodland-hills-server
21  aberdeen-nj-abba-medical-transportation-emt-gr...
23  san-jose-ca-macy-s-macy-s-seasonal-retail-stoc...
25  westland-mi-macy-s-retail-administrative-suppo...
28  chicago-il-michael-hill-sales-professional-134296
33          avondale-goodyear-az-aam-llc-receptionist
35  merrillville-in-macy-s-macy-s-seasonal-retail-...

                                                Title  \
0                                Server @ Tacolicious
2                Bartender @ Machka Restaurants Corp.
4         Kitchen Staff/Chef @ Rosa Mexicano - Sunset
6                       Server @ Roy's Woodland Hills
21  EMT - Growing Medical Transportation Company @...
23  Macy’s Seasonal Retail Stock Merchandising Par...
25  Retail Administrative Support Team, Part Time:...
28                  Sales Professional @ MICHAEL HILL
33                           Receptionist @ AAM, LLC.
35  Macy’s Seasonal Retail Stock Receiving, Part T...

                                             Position  \
0                                              Server
2                                           Bartender
4                                  Kitchen Staff/Chef
6                                              Server
21       EMT - Growing Medical Transportation Company
23  Macy’s Seasonal Retail Stock Merchandising Par...
25  Retail Administrative Support Team, Part Time:...
28                                 Sales Professional
33                                       Receptionist
35  Macy’s Seasonal Retail Stock Receiving, Part T...

                        Company               City  State.Name State.Code  \
0                   Tacolicious          Palo Alto  California         CA
2      Machka Restaurants Corp.      San Francisco  California         CA
4        Rosa Mexicano - Sunset        Los Angeles  California         CA
6          Roy's Woodland Hills        Los Angeles  California         CA
21  ABBA Medical Transportation           Aberdeen  New Jersey         NJ
23                       Macy's           San Jose  California         CA
25                       Macy's           Westland    Michigan         MI
28                 MICHAEL HILL            Chicago    Illinois         IL
33                    AAM, LLC.  Avondale Goodyear     Arizona         AZ
35                       Macy's       Merrillville     Indiana         IN

    ...            Industry  \
0   ...  Food and Beverages
2   ...  Food and Beverages
4   ...  Food and Beverages
6   ...  Food and Beverages
21  ...                 NaN
23  ...                 NaN
25  ...                 NaN
28  ...                 NaN
33  ...                 NaN
35  ...                 NaN

                                      Job.Description  Requirements Salary  \
0   Tacolicious' first Palo Alto store just opened...           NaN   8.00
2   We are a popular Mediterranean wine bar and re...           NaN  11.00
4   Located at the heart of Hollywood, we are one ...           NaN  10.55
6    ● Serve food/drinks to customers in a profess...           NaN   8.00
21  \r\nEMT - Growing Medical Transportation Compa...           NaN    NaN
23  Overview:\r\n\r\nAs a Seasonal Retail Stock Me...           NaN    NaN
25  Job Overview:\r\n\r\nThe AST's primary respons...           NaN    NaN
28  What can Michael Hill offer you?\r\n\r\nA comm...           NaN    NaN
33  Voted one of Arizona&rsquo;s top 10 Best Place...           NaN    NaN
35  Overview:\r\n\r\nAs a Seasonal Retail Stock Re...           NaN    NaN

   Listing.Start  Listing.End      Employment.Type Education.Required  \
0            NaN          NaN            Part-Time                NaN
2            NaN          NaN            Part-Time                NaN
4            NaN          NaN            Part-Time                NaN
6            NaN          NaN            Part-Time                NaN
21    12-05-2014   01-04-2015  Full-Time/Part-Time      Not Specified
23    12-05-2014   01-04-2015        Seasonal/Temp      Not Specified
25    12-05-2014   01-04-2015            Part-Time      Not Specified
28    12-05-2014   01-04-2015            Part-Time      Not Specified
33    12-05-2014   01-04-2015            Part-Time      Not Specified
35    12-05-2014   01-04-2015        Seasonal/Temp      Not Specified

                 Created.At               Updated.At
0   2013-03-12 02:08:28 UTC  2014-08-16 15:35:36 UTC
2   2013-07-16 09:34:10 UTC  2014-08-16 15:35:37 UTC
4   2013-07-17 15:26:18 UTC  2014-08-16 15:35:40 UTC
6   2013-09-27 17:46:47 UTC  2014-08-16 15:36:13 UTC
21  2014-12-05 16:55:20 UTC  2014-12-05 16:55:20 UTC
23  2014-12-05 16:55:23 UTC  2014-12-05 16:55:23 UTC
25  2014-12-05 16:55:30 UTC  2014-12-05 16:55:30 UTC
28  2014-12-05 16:55:36 UTC  2014-12-05 16:55:36 UTC
33  2014-12-05 16:55:42 UTC  2014-12-05 16:55:42 UTC
35  2014-12-05 16:55:43 UTC  2014-12-05 16:55:43 UTC

[10 rows x 23 columns]

/var/folders/sg/0xjmcw_15nq41ctx8fknnyhw0000gn/T/ipykernel_51016/1515436704.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_Combined_Jobs_Final['Job.ID'] = filtered_Combined_Jobs_Final['Job.ID'].astype(int)

In [79]:
# print(Job_Views.shape)
# print(Job_Views.head(10))
# print(Job_Views["Job.ID"].unique)

# find Job.ID = 73666

Combined_Jobs_Final['Job.ID'] = Combined_Jobs_Final['Job.ID'].astype(int)
Job_Views['Job.ID'] = Job_Views['Job.ID'].astype(int)

print(Job_Views[Job_Views["Job.ID"] == 134292])
print(Combined_Jobs_Final[Combined_Jobs_Final["Job.ID"] == 134292])

      Applicant.ID  Job.ID                                              Title  \
1442         10771  134292  Retail Administrative Support Team, Part Time:...
5740         12857  134292  Retail Administrative Support Team, Part Time:...
5741         12857  134292  Retail Administrative Support Team, Part Time:...

                                               Position Company      City  \
1442  Retail Administrative Support Team, Part Time:...  Macy's  Westland
5740  Retail Administrative Support Team, Part Time:...  Macy's  Westland
5741  Retail Administrative Support Team, Part Time:...  Macy's  Westland

     State.Name State.Code Industry               View.Start  \
1442   Michigan         MI      NaN  2014-12-26 18:29:16 UTC
5740   Michigan         MI      NaN  2015-01-20 22:51:36 UTC
5741   Michigan         MI      NaN  2015-01-20 22:53:40 UTC

                     View.End  View.Duration               Created.At  \
1442                      NaN            NaN  2014-12-26 18:29:16 UTC
5740  2015-01-20 22:53:03 UTC           87.0  2015-01-20 22:51:36 UTC
5741  2015-01-20 22:58:52 UTC          312.0  2015-01-20 22:53:40 UTC

                   Updated.At
1442  2014-12-26 18:29:16 UTC
5740  2015-01-20 22:51:36 UTC
5741  2015-01-20 22:53:40 UTC
    Job.ID  Provider Status  \
25  134292         2   open

                                                 Slug  \
25  westland-mi-macy-s-retail-administrative-suppo...

                                                Title  \
25  Retail Administrative Support Team, Part Time:...

                                             Position Company      City  \
25  Retail Administrative Support Team, Part Time:...  Macy's  Westland

   State.Name State.Code  ... Industry  \
25   Michigan         MI  ...      NaN

                                      Job.Description  Requirements Salary  \
25  Job Overview:\r\n\r\nThe AST's primary respons...           NaN    NaN

   Listing.Start  Listing.End  Employment.Type Education.Required  \
25    12-05-2014   01-04-2015        Part-Time      Not Specified

                 Created.At               Updated.At
25  2014-12-05 16:55:30 UTC  2014-12-05 16:55:30 UTC

[1 rows x 23 columns]

In [49]:
print(job_data.head(10))
print(job_data.shape)

   Unnamed: 0  Job.ID                                               text
0           0     111  server tacolici palo alto part time tacolici f...
1           1     113  kitchen staff chef claud lane san francisco pa...
2           2     117  bartend machka restaur corp. san francisco par...
3           3     121  server teriyaki hous brisban part time serv fo...
4           4     127  kitchen staff chef rosa mexicano sunset lo ang...
5           5     129  receptionist mind beauti day spa lo alto part ...
6           6     131  server roy woodland hill lo angel part time se...
7           7     133  driver koja kitchen berkeley part time koja ki...
8           8  134273  assist store manag king food market mendham pa...
9           9  134274  store associ retail sale custom servic aldi on...
(84090, 3)
Empty DataFrame
Columns: [Unnamed: 0, Job.ID, text]
Index: []

In [25]:
Experience.head()
# check NA
print(Experience.shape)
print(Experience.isnull().sum())
print(Experience.head())

(8653, 13)
Applicant.ID               0
Position.Name            950
Employer.Name             33
City                    3731
State.Name              4058
State.Code              4058
Start.Date              2035
End.Date                3747
Job.Description         2961
Salary                  5855
Can.Contact.Employer    5072
Created.At                 0
Updated.At                 0
dtype: int64
   Applicant.ID                                      Position.Name  \
0         10001  Account Manager / Sales Administration / Quali...
1         10001    Electronics Technician / Item Master Controller
2         10001                                   Machine Operator
3         10003                             maintenance technician
4         10003                                 Electrical Helper

               Employer.Name         City            State.Name State.Code  \
0         Barcode Resourcing   Bellingham            Washington         WA
1                Ryzex Group   Bellingham            Washington         WA
2                comptec inc       Custer            Washington         WA
3           Winn residental    washington  District of Columbia         DC
4  michael and son services   alexandria               Virginia         VA

   Start.Date    End.Date                                    Job.Description  \
0  2012-10-15         NaN                                                NaN
1  2001-12-01  2012-04-01                                                NaN
2  1997-01-01  1999-01-01                                                NaN
3         NaN         NaN  Necessary maintenance for "Make Ready" Plumbin...
4         NaN         NaN    repair and services of electrical construction

   Salary Can.Contact.Employer               Created.At  \
0     NaN                  NaN  2014-12-12 20:10:02 UTC
1     NaN                  NaN  2014-12-12 20:10:02 UTC
2     NaN                  NaN  2014-12-12 20:10:02 UTC
3    10.0                False  2014-12-12 21:27:05 UTC
4     NaN                False  2014-12-12 21:27:05 UTC

                Updated.At
0  2014-12-12 20:10:02 UTC
1  2014-12-12 20:10:02 UTC
2  2014-12-12 20:10:02 UTC
3  2014-12-12 21:27:05 UTC
4  2014-12-12 21:27:05 UTC

In [38]:
print(Combined_Jobs_Final.head(10))
print(Combined_Jobs_Final.info())

   Job.ID  Provider Status                                               Slug  \
0     111         1   open                    palo-alto-ca-tacolicious-server
1     113         1   open    san-francisco-ca-claude-lane-kitchen-staff-chef
2     117         1   open  san-francisco-ca-machka-restaurants-corp-barte...
3     121         1   open                  brisbane-ca-teriyaki-house-server
4     127         1   open  los-angeles-ca-rosa-mexicano-sunset-kitchen-st...
5     129         1   open   los-altos-ca-mind-of-beauty-day-spa-receptionist
6     131         1   open         los-angeles-ca-roy-s-woodland-hills-server
7     133         1   open                    berkeley-ca-koja-kitchen-driver
8  134273         2   open  mendham-nj-king-s-food-markets-assistant-store...
9  134274         2   open  onalaska-wi-aldi-store-associate-retail-sales-...

                                               Title  \
0                               Server @ Tacolicious
1                   Kitchen Staff/Chef @ Claude Lane
2               Bartender @ Machka Restaurants Corp.
3                            Server @ Teriyaki House
4        Kitchen Staff/Chef @ Rosa Mexicano - Sunset
5              Receptionist @ Mind of Beauty Day Spa
6                      Server @ Roy's Woodland Hills
7                              Driver @ KoJa Kitchen
8      Assistant Store Manager @ King's Food Markets
9  Store Associate - Retail Sales (Customer Servi...

                                            Position  \
0                                             Server
1                                 Kitchen Staff/Chef
2                                          Bartender
3                                             Server
4                                 Kitchen Staff/Chef
5                                       Receptionist
6                                             Server
7                                             Driver
8                            Assistant Store Manager
9  Store Associate - Retail Sales (Customer Service)

                    Company           City  State.Name State.Code  ...  \
0               Tacolicious      Palo Alto  California         CA  ...
1               Claude Lane  San Francisco  California         CA  ...
2  Machka Restaurants Corp.  San Francisco  California         CA  ...
3            Teriyaki House       Brisbane  California         CA  ...
4    Rosa Mexicano - Sunset    Los Angeles  California         CA  ...
5    Mind of Beauty Day Spa      Los Altos  California         CA  ...
6      Roy's Woodland Hills    Los Angeles  California         CA  ...
7              KoJa Kitchen       Berkeley  California         CA  ...
8       King's Food Markets        Mendham  New Jersey         NJ  ...
9                      ALDI       Onalaska   Wisconsin         WI  ...

             Industry                                    Job.Description  \
0  Food and Beverages  Tacolicious' first Palo Alto store just opened...
1  Food and Beverages   \r\n\r\nNew French Brasserie in S.F. Financia...
2  Food and Beverages  We are a popular Mediterranean wine bar and re...
3  Food and Beverages   ● Serve food/drinks to customers in a profess...
4  Food and Beverages  Located at the heart of Hollywood, we are one ...
5              Retail  We are a group of professional massage therapi...
6  Food and Beverages   ● Serve food/drinks to customers in a profess...
7  Food and Beverages  KoJa Kitchen:\r\nPART-TIME LOCAL HELP NEEDED W...
8                 NaN  \r\nAssistant Store Manager\r\n\r\nNow Hiring ...
9                 NaN  Hiring Event Details\r\nStore Associate\r\n\r\...

   Requirements Salary Listing.Start  Listing.End      Employment.Type  \
0           NaN   8.00           NaN          NaN            Part-Time
1           NaN   0.00           NaN          NaN            Part-Time
2           NaN  11.00           NaN          NaN            Part-Time
3           NaN  10.55           NaN          NaN            Part-Time
4           NaN  10.55           NaN          NaN            Part-Time
5           NaN   0.00           NaN          NaN            Part-Time
6           NaN   8.00           NaN          NaN            Part-Time
7           NaN  11.00           NaN          NaN            Part-Time
8           NaN    NaN    12-05-2014   01-04-2015            Part-Time
9           NaN    NaN    12-05-2014   01-04-2015  Full-Time/Part-Time

    Education.Required               Created.At               Updated.At
0                  NaN  2013-03-12 02:08:28 UTC  2014-08-16 15:35:36 UTC
1                  NaN  2013-04-12 08:36:36 UTC  2014-08-16 15:35:36 UTC
2                  NaN  2013-07-16 09:34:10 UTC  2014-08-16 15:35:37 UTC
3                  NaN  2013-09-04 15:40:30 UTC  2014-08-16 15:35:38 UTC
4                  NaN  2013-07-17 15:26:18 UTC  2014-08-16 15:35:40 UTC
5                  NaN  2013-03-12 03:01:36 UTC  2014-08-16 15:35:40 UTC
6                  NaN  2013-09-27 17:46:47 UTC  2014-08-16 15:36:13 UTC
7                  NaN  2013-05-15 01:58:55 UTC  2014-08-16 15:35:41 UTC
8        Not Specified  2014-12-05 16:55:06 UTC  2014-12-05 16:55:06 UTC
9  High School Diploma  2014-12-05 16:55:07 UTC  2014-12-05 16:55:07 UTC

[10 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB
None

In [19]:
#Check Industry column unique values
print(Combined_Jobs_Final['Industry'].value_counts())
print(Combined_Jobs_Final['Position'].value_counts())

# Check if have data roles in the Position column and print that position
# print(Combined_Jobs_Final[Combined_Jobs_Final['Position'].str.contains('Data')])
# count the number of data roles
# print(Combined_Jobs_Final[Combined_Jobs_Final['Position'].str.contains('Data')].count())

Food and Beverages       152
Other                     44
Transportation            39
Retail                    21
Office Administration     10
Care Giving                1
Name: Industry, dtype: int64
Administrative Assistant                                                      1414
Customer Service Representative                                               1296
Accounts Payable Clerk                                                         970
Accounting Clerk                                                               953
Sales Representative / Sales Associate ( Entry Level )                         917
                                                                              ...
Medical Records Clerk - Home Health - PRN - Kindred at Home - Campbell, CA       1
Immediate Need for Accounts Receivable Clerk                                     1
Financial Operations Consultant                                                  1
AR Clerk with Cash Applications experience needed Downtown                       1
Book Keeper                                                                      1
Name: Position, Length: 36245, dtype: int64